body {
  background-color: rgb(14, 19, 29);
}

#down_nav_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outer {
  stroke-dasharray: 178px;
  stroke-dashoffset: 178px;
  animation: animateOuter 6s ease-out forwards infinite;
}

@keyframes animateOuter {
  0%,
  80% {
    stroke-dashoffset: 178px;
  }

  20%,
  30%,
  40%,
  50%,
  60% {
    stroke-dashoffset: 0px;
  }
}

#wave {
  stroke-dasharray: 75.54px;
  stroke-dashoffset: 75.54px;
  opacity: 0;
  animation: animateWave 6s ease-out forwards infinite;
}

@keyframes animateWave {
  0%,
  10%,
  20% {
    stroke-dashoffset: 75.54px;
  }

  30% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0px;
    opacity: 0;
  }
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    stroke-dashoffset: 0px;
  }
}

#arrow {
  opacity: 0;
  animation: updown 1s ease-in forwards infinite,
    animateArrow 6s ease-in forwards infinite;
}

@keyframes updown {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(4px);
  }
}

@keyframes animateArrow {
  0%,
  10%,
  20%,
  30%,
  80%,
  90%,
  100% {
    opacity: 0;
  }
  35%,
  40%,
  50%,
  60%,
  70% {
    opacity: 1;
  }
}
